body {
    background-image: url("./../assets/cityCourthouse1.jpg"); 
    background-size: cover;  
}

#title {
    text-align: center;
    margin-top: 6%; 
}

 .accountAndLogin {
    background: rgb(0, 25, 87); /* This is for ie8 and below */
    background: rgba(230, 213, 213, 0.8); 
 }